{% load static %}
<!DOCTYPE html>
<html lang="pl">

    <head>
        <title>Compiler</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'mycmp/style.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <!-- Codemirror CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">

        <!-- Codemirror JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/clike/clike.min.js"></script>
    <body>

    {% if not user.is_authenticated %}
        <div class="alert alert-info" role="alert">
            You are not logged in. Please <a href="http://127.0.0.1:8000/mycmp/login" class="alert-link">login</a> to access the features.
        </div>
    {% else %}
        <div id="grid-container">
            <div class="menu-bar">
              <i class="bi bi-brightness-high-fill" id="toggleDark"></i>
                {% if user.is_authenticated %}
                    <button onclick="location.href='http://127.0.0.1:8000/mycmp/logout'" class="login-item">Wyloguj</button>
                {% else %}
                    <button onclick="location.href='http://127.0.0.1:8000/mycmp/login'" class="login-item">Login</button>
                {% endif %}
                <nav class="navbar">
                  <ul class="nav-menu">
                    <li class="nav-item">
                      <a href="http://127.0.0.1:8000/mycmp/" class="nav-link">Kompilator</a>
                    </li>
                    <li class="nav-item">
                      <a href="http://127.0.0.1:8000/mycmp/upload_file/" class="nav-link">Zarządzaj plikami</a>
                    </li>
                    <li class="nav-item">
                      <a href="http://127.0.0.1:8000/mycmp/delete_directory/" class="nav-link">Zarządaj folderami</a>
                    </li>
                  </ul>
                  <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                  </div>
                </nav>
            </div>
            <div class="choose-file">
                <ul id="myUL">
                    {% for directory in directories %}
                    {% if directory.parent_directory == NULL %}
                        {% include 'mycmp/folder.html' with directory=directory %}
                    {% endif %}
                {% endfor %}
                {% for file in files %}
                    {% if file.directory == NULL %}
                        <li>{{ file.name }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>

            <div class="tab-box">
                <form action="{% url 'runcode' %}" method="GET" id="myForm">
                    {% csrf_token %}
                    <textarea type="text" class="content" id="code" name="codearea">{{ code }}</textarea>
                    <input type="hidden" id="standard" name="standard" value="">
                    <input type="hidden" id="procesor" name="procesor" value="">
                    <input type="hidden" id="optimization" name="optimization" value="">
                    <input type="hidden" id="MCSoption" name="MCSoption" value="">
                    <input type="hidden" id="Z80Soption" name="Z80Soption" value="">
                    <input type="hidden" id="STMoption" name="STMoption" value="">

                </form>
            </div>


            <div class="footer-head">
                <button onclick="openTab(event, 'Tab1')">Standard</button>
                <button onclick="openTab(event, 'Tab2')">Optymalizacje</button>
                <button onclick="openTab(event, 'Tab3')">Procesor</button>
                <button onclick="openTab(event, 'Tab4')">Zależne</button>
                <button type="submit" id="compile-btn" class="btn btn-primary">Kompiluj</button>
                <button onclick="downloadFile()" id="download-btn"><i class="fa fa-download"></i>Pobierz</button>
            </div>
            <div id="Tab1" class="footer">
                <h2>Standard Kodu Źródłowego:</h2>
                <ul>
                  <li><input type="radio" name="standard" value="C89" id="C89"><label for="C89">C89</label></li>
                  <li><input type="radio" name="standard" value="C99" id="C99"><label for="C99">C99</label></li>
                  <li><input type="radio" name="standard" value="C11" id="C11"><label for="C11">C11</label></li>
                </ul>
              </div>

              <div id="Tab2" class="footer">
                <h2>Optymalizacje kompilacji:</h2>
                <ul>
                  <li><input type="radio" name="optimization" value="--nostdlibcall" id="Os"><label for="Os">Wyłącz optymalizację wywołań biblioteki standardowej.</label></li>
                  <li><input type="radio" name="optimization" value="--opt-code-size" id="O1"><label for="O1">Optymalizacja rozmiaru (kosztem szybkości)</label></li>
                  <li><input type="radio" name="optimization" value="--opt-code-speed" id="O2"><label for="O2">Optymalizacja szybkości (kosztem rozmiaru)</label></li>
                </ul>
              </div>

              <div id="Tab3" class="footer">
               <h2>Wybierz Procesor:</h2>
                <ul>
                  <li><input type="radio" name="procesor" value="mmcs51" id="mmcs51"><label for="mmcs51">MCS51</label></li>
                  <li><input type="radio" name="procesor" value="mz80" id="mz80"><label for="mz80">Z80</label></li>
                  <li><input type="radio" name="procesor" value="mstm8" id="mstm8"><label for="mstm8">STM8</label></li>
                </ul>
              </div>

              <div id="Tab4" class="footer">
                  <div id="MCS">
                    <h3>MCS51 - wybierz rozmiar:</h3>
                    <ul>
                        <li><input type="radio" name="MCSoption" value="model-small" id="model-small2"><label for="model-small2">model-small</label></li>
                          <li><input type="radio" name="MCSoption" value="model-medium" id="model-medium2"><label for="model-medium">model-medium</label></li>
                          <li><input type="radio" name="MCSoption" value="model-large" id="model-large2"><label for="model-large">model-large</label></li>
                    </ul>
                  </div>
                  <div id="Z80">
                    <h3>Z80 - wybierz asembler:</h3>
                    <ul>
                      <li><input type="radio" name="Z80Soption" value="rgbds" id="rgbds"><label for="rgbds">rgbds</label></li>
                      <li><input type="radio" name="Z80Soption" value="z80asm" id="sdasz80"><label for="sdasz80">z80asm</label></li>
                      <li><input type="radio" name="Z80Soption" value="isas" id="isas"><label for="isas">isas</label></li>
                    </ul>
                  </div>
                  <div id="STM">
                    <h3>STM8 - wybierz rozmiar:</h3>
                    <ul>
                          <li><input type="radio" name="STMoption" value="model-medium" id="model-medium"><label for="model-medium">model-medium</label></li>
                          <li><input type="radio" name="STMoption" value="model-large" id="model-large"><label for="model-large">model-large</label></li>
                          <li style="opacity: 0;">a</li>
                    </ul>
                  </div>
              </div>

             <div class="code-box">
                {% for line in output %}
                    <div class="asm">
                        <pre class="asm-header">{{line.0}}</pre>
                        <pre class="asm-code">{{line.1}}</pre>
                    </div>
                {% endfor %}
                {{ error }}
            </div>
        </div>
       <script src="{% static 'mycmp/script.js' %}"> </script>
      {% endif %}
    </body>
</html>