<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add/Delete Directory</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
{% block content %}
    <div class="card-header">{{ title }}
        <a href="{% url 'aww1' %}" class="btn btn-secondary float-right">Strona Główna</a>
    </div>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">{{ title }}</div>
                    <div class="card-body">
                        <h3>Usuń Folder</h3>
                        <hr>
                        <form id="delete_directory_form" action="{% url 'delete_directory' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_directory">Foldery:</label>
                                <select name="directory" id="id_directory" class="form-control">
                                    <option value="">--Wybierz Folder--</option>
                                    {% for directory in directories %}
                                        <option value="{{ directory.id }}">{{ directory.name }}</option>
                                    {% endfor %}
                                </select>
                                {% if form.errors.directory %}
                                    <small class="text-danger">{{ form.errors.directory }}</small>
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-danger">Usuń</button>
                        </form>
                        <br>
                        <hr>
                        <h3>Dodaj Folder</h3>
                        <hr>
                        <form id="add_directory_form" action="{% url 'add_directory' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_name">Nazwa:</label>
                                <input type="text" name="name" id="id_name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="id_description">Opis:</label>
                                <input type="text" name="description" id="id_description" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="id_parent_directory">Katalog Nadrzędny:</label>
                                <select name="parent_directory" id="id_parent_directory" class="form-control">
                                    <option value="">--Brak--</option>
                                    {% for directory in directories %}
                                        <option value="{{ directory.id }}">{{ directory.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Dodaj</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

<script>

    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
    function updateDirectoryList() {
    fetch('{% url 'directory_list_json' %}')
    .then(response => response.json())
    .then(data => {
        let directoryListElement = document.getElementById('id_directory');
        let parentDirectoryListElement = document.getElementById('id_parent_directory');  // get parent directory select list

        // Clear both select lists
        directoryListElement.innerHTML = '';
        parentDirectoryListElement.innerHTML = '';

        // Add default option to parent directory select list
        let defaultOption = document.createElement('option');
        defaultOption.value = "";
        defaultOption.textContent = "--Brak--";
        parentDirectoryListElement.appendChild(defaultOption);

        data.directories.forEach(directory => {
            // Update delete directory select list
            let option = document.createElement('option');
            option.value = directory.id;
            option.textContent = directory.name;
            directoryListElement.appendChild(option);

            // Update parent directory select list
            let optionParent = document.createElement('option');
            optionParent.value = directory.id;
            optionParent.textContent = directory.name;
            parentDirectoryListElement.appendChild(optionParent); // add new directory to the parent directory select list
        });
    });
}

function addDirectory(event) {
    event.preventDefault();
    var form = document.getElementById('add_directory_form');
    var formData = new FormData(form);

    fetch('{% url 'add_directory' %}', {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.message) {
            alert(data.message);
            updateDirectoryList();
        } else if (data.error) {
            alert(data.error);
        }
    });
}

document.getElementById('add_directory_form').addEventListener('submit', addDirectory);


function deleteDirectory(event) {
    event.preventDefault();
    var form = document.getElementById('delete_directory_form');  // get the form
    var formData = new FormData(form);

    fetch('{% url 'delete_directory' %}', {  // use Django's url template tag to get the URL
        method: 'POST',
        headers: {
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.message) {
            alert(data.message);

            updateDirectoryList();
        } else if (data.error) {
            alert(data.error);
        }
    });
}

document.getElementById('delete_directory_form').addEventListener('submit', deleteDirectory);


</script>

</body>
</html>
