<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

{% block title %}Add File{% endblock %}

{% block content %}
    <div class="container my-4">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">{{ title }}</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="id_directory">Directory:</label>
                        <select name="directory" id="id_directory" class="form-control">
                            <option value="">--Select directory--</option>
                            {% for directory in directories %}
                                <option value="{{ directory.id }}">{{ directory.name }}</option>
                            {% endfor %}
                        </select>
                        {% if form.errors.directory %}
                            <small class="form-text text-danger">{{ form.errors.directory }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="id_file">File:</label>
                        <input type="file" name="file" id="id_file" class="form-control-file" required multiple>
                        {% if form.errors.file %}
                            <small class="form-text text-danger">{{ form.errors.file }}</small>
                        {% endif %}
                    <button type="submit" class="btn btn-primary">Add File</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>
